<p id="notice"><%= notice %></p>

<strong>movies:</strong>
<% if @post.video.attached? %>
<video src="<%= rails_blob_path(@post.video) %>" width="1020" controls></video>
<% end %>
<p><%= @post.title %></p> <br>
<p><%= @post.introduction %></p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
